.video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  background-color: black;
}

.player {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* ou contain selon ton style */
}

.bottom-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  color: white;
}
