.video {
  display: flex;
  justify-content: center;  /* centre horizontalement */
  align-items: center;      /* centre verticalement */
  width: 100vw;
  height: 100vh;
  position: relative;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  scroll-snap-align: start;
  background-color: black;  /* pour éviter le blanc autour */
}

.video::before {
  content: '';
  display: block;
  box-shadow: 0 -33px 48px rgba(0, 0, 0, 0.5) inset;
  width: 100%;
  pointer-events: none;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
}

.aspect-4-3 {
  position: relative;
  width: 100%;
  max-width: 640px;        /* optionnel : largeur max */
  aspect-ratio: 4 / 3;
  background-color: black;
  overflow: hidden;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ou contain si tu préfères tout voir */
}

.bottom-controls {
  display: flex;
  align-items: flex-end;
  height: 100%;
}