.video {
  position: relative;
  width: 100%;
  height: auto;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  scroll-snap-align: start;
}

.video::before {
  content: '';
  display: block;
  box-shadow: 0 -33px 48px rgba(0, 0, 0, 0.5) inset;
  width: 100%;
  pointer-events: none;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
}

.aspect-4-3 {
  position: relative;
  width: 100%;
  max-width: 640px; /* optionnel : limite la largeur max si tu veux */
  aspect-ratio: 4 / 3;
  background-color: black;
  overflow: hidden;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ou contain si tu préfères tout voir */
}

.bottom-controls {
  display: flex;
  align-items: flex-end;
  height: 100%;
}